<%- include('../layouts/header.ejs') %>
                    <div class="container-fluid">
                        <h1 class="h3 mb-4 text-gray-800">
                            Kayıtlı Depremler
                        </h1>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 style="line-height: 30px;" class="m-0 font-weight-bold text-primary">
                                    Deprem Listesi
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Tarih</th>
                                                <th>Saat</th>
                                                <th>Enlem</th>
                                                <th>Boylam</th>
                                                <th>Derinlik</th>
                                                <th>Büyüklük</th>
                                                <th>Şehir</th>
                                                <th>İlçe</th>
                                                <th>Konum</th>
                                                <th>Deprem Sayfası</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(typeof earthquakes != 'undefined') { %> <% earthquakes.forEach(function(earthquake) { %>
                                            <tr>
                                                <td><%= earthquake.data.date %></td>
                                                <td><%= earthquake.data.time %></td>
                                                <td><%= earthquake.data.latitude %></td>
                                                <td><%= earthquake.data.longitude %></td>
                                                <td><%= earthquake.data.depth %></td>
                                                <td><%= earthquake.data.magnitude %></td>
                                                <td><%= earthquake.data.city %></td>
                                                <td><%= earthquake.data.district %></td>
                                                <td>
													<a target="_blank" href="https://maps.google.com/maps?q=<%= earthquake.data.latitude %>,<%= earthquake.data.longitude %>" class="btn btn-danger btn-icon-split btn-sm">
														<span class="icon text-white-50">
															<i class="fas fa-map-pin"></i>
														</span>
														<span class="text">Google Map'te Aç</span>
													</a>
												</td>
                                                <td><a target="_blank" href="/earthquake/<%= earthquake.id %>" class="btn btn-success btn-icon-split btn-sm"><span class="icon text-white-50"><i class="fas fa-eye"></i> </span> <span class="text">Görüntüle</span></a></td>
                                            </tr>
                                            <% }) %> <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
<%- include('../layouts/footer.ejs') %>