<%- include('../layouts/header.ejs') %>
                    <div class="container-fluid">
                        <h1 class="h3 mb-4 text-gray-800">
                            Kullanıcılar
                        </h1>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 style="line-height: 30px;" class="m-0 font-weight-bold text-primary">
                                    Kullanıcı Listesi
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Adı</th>
                                                <th>Soyadı</th>
                                                <th>Telefon Numarası</th>
                                                <th>Görüntüle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(typeof users != 'undefined') { %> <% users.forEach(function(user) { %>
                                            <tr>
                                                <td><%= user.data.name %></td>
                                                <td><%= user.data.surname %></td>
                                                <td><%= user.data.phone %></td>
                                                <td><a href="/user/<%= user.id %>" class="btn btn-success btn-icon-split btn-sm"><span class="icon text-white-50"><i class="fas fa-eye"></i> </span> <span class="text">Görüntüle</span></a></td>
                                            </tr>
                                            <% }) %> <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
<%- include('../layouts/footer.ejs') %>